{% extends 'eshop/main.html' %}
{% load static %}

     <div class="container">
            <br>
			
            {% block content %}
			<div class="row">
			<!--Product list-->
        	{% for product in products %}
			<!--Product details-->
				<div class="col-lg-4">
					<img class="thumbnail" src="{{product.imageURL}}">
					<div class="box-element product">
						
						<h6><strong>Brand:{{product.brand}}</strong></h6>
						<h6><strong>Size:{{product.size}}</strong></h6>
						<h6><strong>Color:{{product.color}}</strong></h6>
						<hr>
						<a class="btn btn-outline-success" href="/eshop/customer_user/{{ product.id }}">View</a>
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
						<h3 style="display: inline-block; float: right"><strong>€{{product.price}}</strong></h3>
					</div>
				</div>
			{% endfor %}
				
			{% endblock content %}
    </div>

          


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>

</html>
